Checks: 'clang-analyzer-*,modernize-*,bugprone-*,cppcoreguidelines-*,misc-*,readability-*,-cppcoreguidelines-init-variables,-system-headers,-modernize-use-trailing-return-type'
WarningsAsErrors: false 

