name: switchdev

services:
  switchdev:
    image: docker.io/devkitpro/devkita64:latest
#    container_name: devkita64
#    user: 1000:1000
    command: bash -c "tail -f /dev/null"

    volumes:
      # Update this to wherever you want VS Code to mount the folder of your project
      - ..:/workspaces:cached

    # Uncomment the next four lines if you will use a ptrace-based debugger like C++, Go, and Rust.
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    #command: /bin/sh -c "while sleep 1000; do :; done"